.contestant-container {
  background-color: #faf9ee;
  height: 220px;
  width: 300px;
  border: 5px solid #ff00ff;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5px 80px 30px auto;
}

.contestant-image {
  height: 100px;
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid #ff00ff;
}

.contestant-name {
  font-family: 'righteous';
  font-size: 30px;
  color: #e6e7e9;
  text-shadow: 1px 1px #ff00ff;
  margin-top: 15px;
  grid-column: 2;
  justify-self: left;
}

.contestant-from {
  font-size: 15px;
  font-family: 'righteous';
  color: #e6e7e9;
  text-shadow: 1px 1px #ff00ff;
}

.contestant-info-form {
  grid-row: 5;
  grid-column: 1;
  justify-self: center;
  margin-left: 140px
}

.contestant-info-form input, button {
  font-family: 'righteous';
  border-radius: 5px;
  border-style: none;
  border: 1px solid #9900ff;
  height: 20px;
  width: 150px;
}

.contestant-info-form button {
  background-color: #1b6bc2;
  margin-top: 5px;
  width: auto;
  color: white;
  border:none;
}

.presenter {
  grid-column: 3;
  grid-row: 4;
  align-self: center
}
